<div class="container" [hidden]="type===null">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="card shadow  mx-auto">
                <div class="card-body fade show  d-block p-4 mb-0" [ngClass]="{'alert-success': type==='success', 'alert-danger': type==='error', 'alert-info': type==='info'}">
                      <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                      <!--  <span aria-hidden="true">&times;</span>-->
                      <!--</button>                    -->
                    {{message}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container"  [hidden]="load===null">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow  mx-auto">
                <div class="card-body fade show d-block p-3 mb-0" [ngClass]="{'alert-success': load==='success', 'alert-danger': load==='error', 'alert-info': load==='info'}">
                      <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
                      <!--  <span aria-hidden="true">&times;</span>-->
                      <!--</button>-->
                    <img class="loading" src="{{image}}" alt="Loading..."> {{message}}
                </div>
            </div>
        </div>
    </div>
</div>