<span class="d-block p-2 bg-secondary text-white">Profile</span>
<div class="container">
    <div class="row">
        
        <!--<app-post *ngFor="let post of all"-->
        <!--<app-post class="col-md-4" [all]="all">-->
        <!--</app-post>-->
        
        <!--<app-post [all]="all">-->
        <!--</app-post>-->
       <p>derp</p>
       <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let post of all">
            <div title="<h3>{{post.data.name}}</h3>" data-toggle="tooltip" data-html="true" data-placement="left" class="card">6<img src="{{post.data.fileUrl}}"></div>
            <div class="text-section-row row0 text-center">
                <span>{{post.data.upLoadedBy.name}}</span>
            </div>
        </div>
        
       <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let post of all">
            <div class="card">6<img src="assets/images/angular.png"></div>

        </div>
        
        <hr>
        
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4 col-lg-2"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        <div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>
        
    </div>
</div>


