img {
	max-width: 100%;
	height: auto; 
}

.card {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  /*height: 225px;*/
  /*width: 235px;*/
  margin: 5px; 
  padding: 3px; 
  overflow: hidden; 
  position: relative;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    .card {
        /*width: 500px;*/
    }
    
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }













/*#resizer-demo {*/
/*    position: fixed;*/
/*    top:300px;*/
    /*width:20%;*/
/*    padding:10px;*/
/*    margin-left: 25%;*/
/*    margin-right: 25%*/
/*}*/

/*.card {*/
    /*width:100px;*/
    /*height: 100px*/
/*}*/
/*.cr-imagex {*/
/*     position: fixed;*/
/*    top:200px;*/
/*    left:200px;*/
/*    width:20%;*/
/*    padding:10px;*/
/*    margin-left: 25%;*/
/*    margin-right: 25%   */
    
    
/*}*/

/*.cr-sliderx {*/
/*    margin-left: 200px;*/
/*}*/