
<!--<div class="row">-->
<!--  <div class="col-sm-6">-->

<div class="full-frame">
<!--<div>-->
  <!--<div class=card>-->
  
    <div class="image-sectionx">
     <img [src]="defaultImage">
     <!--<img src="{{defaultImage}}">-->
    </div>
  
    <div class="text-section">
      <div class="text-section-row row0">
        <span>{{imageData.name}} {{imageKey}} pfval {{postFollowed}} pfnotnll {{postFollowed!=null}} notcuiu {{!curUserIsUploader}} exp {{postFollowed!=null && !curUserIsUploader}}</span>
      </div>
   
      <div *ngIf="imageData.createdOn" class="text-section-row row1">
        <span>Posted on: {{imageData.createdOn | date: 'MM/dd/yy'}}</span>
      </div>
  
      <div *ngIf="imageData.upLoadedBy && displayPostedBy" class="text-section-row row2">
        <span>Posted by: {{imageData.upLoadedBy.name}} {{imageData.upLoadedBy.uid}}</span>
      </div>
      
      <div class="text-section-row row3">
        <span># of Fav: {{imageData.favoriteCount}} cuiu: {{curUserIsUploader}}</span>
      </div>
      
      <div class="text-section-row row4 action-row hvr-grow" 
           *ngIf="displayFavoriteButton && favoritedKey==null">      
        <span (click)="onFavoriteClicked()">
          <i class="fa fa-heart"></i>
          Add Image to Favorites
        </span>
      </div>
      
      <div class="text-section-row row4 action-row hvr-grow" 
           *ngIf="!displayFavoriteButton && !curUserIsUploader">      
        <span (click)="onRemoveFavoriteClicked()">
          <i class="fa fa-heart"></i>
          Remove Image to Favorites
        </span>
      </div>
  
      <div class="text-section-row row5 action-row hvr-grow" 
           *ngIf="(postFollowed==null) && !curUserIsUploader">   
        <span (click)="onFollowUser()">
          <i class="fas fa-user-friends"></i>
          Follow User {{post.followed==null}} {{!curUserIsUploader}}
        </span>
      </div>
  
      <div class="text-section-row row5 action-row hvr-grow" 
           *ngIf="(postFollowed!=null) && !curUserIsUploader">  
        <span (click)="onRemoveFollowedUser()">
          <i class="fas fa-user-minus"></i>
          Stop Following User {{post.followed}} {{post.followed==null}} {{!curUserIsUploader}}
        </span>
      </div>    
    </div>
  
  <!--</div>-->
</div>
<!--</div>-->
<!--</div>-->