<span class="d-block p-2 bg-secondary text-white">All Posts</span>

<div class="container">
  <!--<div class="row">-->
  <!--  <div class="col-lg-12 text-left">-->
  <!--    <button class="btn btn-primary" (click)="onLoadMore()">Load More Images</button>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-lg-12">
      
      <div class="card shadow" *ngIf="!endOfAllposts">
        <div class="card-body">         
            <div class="file d-block btn-shadow">
              <button class="btn btn-info p-2 " [ngClass]="{'disabled': disableLoadMore}" (click)="onLoadMore()">Load More Images</button>
            </div>
            <!--<img class="card-img-top" src="{{image}}" alt="Card image">-->
         </div>
      </div>      
      

      <!--<div class="image-container">-->
      <!--  <app-post *ngFor="let post of all"-->
      <!--            [imageKey]="post.data.imageKey"-->
      <!--            [uploadedBy]="post.data.upLoadedBy.uid"-->
      <!--            [displayPostedBy] = "displayPostedBy"-->
      <!--            [displayFavoriteButton] = "displayFavoriteButton"-->
      <!--            [displayFollowButton] = "displayFollowButton"-->
      <!--            [newFollowedUser] = "newFollowedUser"-->
      <!--            (favoriteClicked)="onFavoriteClicked($event)"-->
      <!--            (removeFavoriteClicked)="onRemoveFavoriteClicked($event)"-->
      <!--            (followUser)="onFollowUser($event)"-->
      <!--            (unfollowUser)="onRemoveFollowedUser($event)">-->
        <!-->-->
      <!--  </app-post>-->
      <!--</div>-->
      
      <div class="image-container">
        <app-post *ngFor="let post of all"
                  [post]="post"
                  [postFollowed]="post.followed"
                  [imageKey]="post.data.imageKey"
                  [uploadedBy]="post.data.upLoadedBy.uid"
                  [displayPostedBy] = "displayPostedBy"
                  [displayFavoriteButton] = "displayFavoriteButton"
                  [displayFollowButton] = "displayFollowButton"
                  [newFollowedUser] = "newFollowedUser"
                  (favoriteClicked)="onFavoriteClicked($event)"
                  (removeFavoriteClicked)="onRemoveFavoriteClicked($event)"
                  (followUser)="onFollowUser($event)"
                  (unfollowUser)="onRemoveFollowedUser($event)">
        <!-->-->
        </app-post>
      </div>
      

    </div>
  </div>
</div>