   
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let post of all">
            <div class="card">2<img src="{{defaultImage}}"></div>
        </div>
   
   
    <!--<div class="image-sectionx">-->
    <!-- <img [src]="defaultImage">-->
     <!--<img src="{{defaultImage}}">-->
    <!--</div>-->
    <!--<div class="col-md-4"><div class="card"><img src="{{defaultImage}}"></div></div>-->
    
    <!--<span class="row" *ngFor="let post of all">-->
        <!--{{post.data.imageKey}}-->
    <!--    <div class="col-md-4"><img src="assets/images/angular.png"></div>-->
        
        <!--<div class="col-md-4"><div class="card"><img src="assets/images/angular.png"></div></div>-->
    <!--</span>-->
    <!--<div *ngFor="let post of all">-->
    <!--            <div class="card">3<img src="assets/images/angular.png"></div>-->
    <!--</div>-->
    <!--<div *ngFor="let post of all">-->
    <!--            <div class="card col-md-4">4-in card<img src="assets/images/angular.png"></div>-->
    <!--</div>-->
